@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Here, you can manage the available cars collection!</p>

    <img src="~/carr.jpg" alt="Car Image" class="img-fluid" />
</div>
